/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

.d-flex {
    display: flex;
    margin-bottom: 150px;
    padding: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
}

.gap {
    margin-right: 30px;
    padding: 10px 20px;
}

.half-width img {
    width: 80%;
}

.link-button {
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.description {
    margin-bottom: 35px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.title {
    margin-bottom: 5px;
}

.ex-year {
    margin-bottom: 10px;
    color: orangered;
}

.blue {
    color: blue;
}

.section-title {
    padding: 0 50px;
}

h2 {
    font-size: 30px;
}

.experience-card {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 5px 40px grey;
    padding: 20px;
    border-radius: 10px;
    transition: .5s;
}

.experience-card:first-child {
    border-left: 7px solid tomato;
}

.experience-card:last-child {
    border-left: 7px solid blue;
}

.experience-card:hover {
    transform: scale(1.1);
}

footer p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: left;
}