/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

section {
    display: flex;
    padding: 2%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.link-button {
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.description {
    margin-bottom: 35px;
}